@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lora:wght@400;600;700&family=Marcellus&family=Urbanist:wght@400;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .content-visibility-auto {
    content-visibility: auto;
    contain-intrinsic-size: 500px;
  }
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;}

.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.marcellus-regular {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}
